.modal__header-right{
    margin-left: 3.13vw;
    display: flex;
    flex-direction: column;
}
.modal__header-top-right{
    display: flex;
    flex-direction: row;
    gap: 3.13vw;
}
.modal__header-top-right-column{
    display: flex;
    flex-direction: column;
    /* gap: 3.13vw; */
}
.modal__header-top-text {
    user-select: none;
    text-wrap: nowrap;
    margin-top: 2.08vw;
    font-family: 'Vetrino', sans-serif;
    font-size: 30px;
    color: #743335;
}
.modal__header-top-text-column {
    user-select: none;
    text-wrap: nowrap;
    margin-top: 2.08vw;
    font-family: 'Vetrino', sans-serif;
    font-size: 30px;
    color: #743335;
}
.modal__header-top-close {
    user-select: none;
    cursor: pointer;
    margin-top: 2.08vw;
    font-size: 30px;
}
.modal__middle {
    padding-bottom: 20px;
}
.modal__middle-text {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    color: #404040;
}
.modal__middle-input {
    margin-top: 10px;
    width: 490px;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    font-size: 18px;
    padding-left: 20px;

}
.modal__bottom{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.modal__bottom-checkbox {
    width: 23px;
    height: 23px;
    background-color: #fff;
    border: 1px solid #505050;
    margin-top: 6px;
}
.modal__bottom-text {
    font-size: 14px;
    font-family:'Mulish', sans-serif;
    color: #404040;
}
.modal__bottom-button {
    margin-top: 50px;
    width: 490px;
    height: 4.42vw;
    background-color: #743335;
    border: none;
    border-radius: 50px;
    min-height: 50px;
    max-height: 65px;
    transition: all 0.2s ease;
}
.modal__bottom-button:hover {
    background-color: #BE9658;
}

.modal__bottom-button-text {
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    line-height: auto;
    font-weight: 100;
}
.modal__header-top-hide-text {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    color: #505050;
    text-wrap: nowrap;
    padding: 20px 0 20px 0;
}
.modal__header-top-non-hide-br {
    display: none;
}
@media (max-width:768px) {
    .modal__header-top-text {
        padding-top: 2.95vw;
        padding-bottom: 1.30vw;
        margin-top: 3.91vw;
        font-size: 20px;
        color: #743335;
    }
    .modal__header-top-text-column {
        margin-top: 9.91vw;
        font-size: 20px;
        color: #743335;
    }
    .modal__header-top-close {
        margin-top: 3.60vw;
        margin-left: 1.60vw;
        font-size: 20px;
    }
    .modal__middle-input {
        width: 70.84vw;
    
    }
    .modal__bottom-text-wrap-phone{
        display: block;
    }
    .modal__bottom-text-wrap-pc {
        display: none;
    }
    .modal__bottom-button {
        width: 290px;
        margin-top: 20px;
        margin-left: 0px;

    }
    .modal__header-top-hide-text {
        font-family: 'Mulish', sans-serif;
        font-size: 16px;
        color: #505050;
        /* text-wrap: wrap; */
        padding: 0px 0 0px 0;
    }
    .modal__header-top-hide-br{
        display: none;
    }
    .modal__header-top-non-hide-br {
        display: block;
    }
}