.modal__header-right {
    margin-left: 3.13vw;
    display: flex;
    flex-direction: column;
}

.modal__header-top-right {
    display: flex;
    flex-direction: row;
    gap: 3.13vw;
}

.modal__header-top-right-column {
    display: flex;
    flex-direction: column;
}

.modal__header-top-text,
.modal__header-top-text-column {
    user-select: none;
    text-wrap: nowrap;
    margin-top: 2.08vw;
    font-family: 'Vetrino', sans-serif;
    font-size: 30px;
    color: #743335;
}

.modal__header-top-close {
    user-select: none;
    cursor: pointer;
    margin-top: 2.08vw;
    font-size: 30px;
    font-family: 'Mulish', sans-serif;
}

.modal__middle {
    padding-bottom: 20px;
}

.modal__middle-text {
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    color: #404040;
}

.modal__middle-input {
    margin-top: 10px;
    width: 25vw;
    height: 60px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    font-size: 18px;
    padding-left: 20px;
}
.modal__middle-input-error{
    margin-top: 10px;
    width: 25vw;
    height: 60px;
    border: 2px solid red;
    border-radius: 20px;
    background-color: #fff;
    font-size: 18px;
    padding-left: 20px;
}

.modal__bottom {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.modal__bottom-checkbox {
    width: 23px;
    height: 23px;
    background-color: #fff;
    border: 1px solid #505050;
    margin-top: 6px;
}

.modal__bottom-text {
    font-size: 14px;
    font-family: 'Mulish', sans-serif;
    color: #404040;
    width: 23.75vw;
}

.modal__bottom-button {
    margin-top: 50px;
    width: 25.52vw;
    height: 4.42vw;
    background-color: #743335;
    border: none;
    border-radius: 50px;
    min-height: 50px;
    max-height: 65px;
    transition: all 0.2s ease;

    &:hover {
        background-color: #BE9658;
    }
}
.error__message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.modal__bottom-button-text {
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    line-height: auto;
    font-weight: 100;
}

.modal__header-top-hide-text {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    color: #505050;
    text-wrap: nowrap;
    padding: 20px 0;
}

.modal__header-top-non-hide-br {
    display: none;
}
@media (max-width: 1500px) {
    .modal__header-top-text {
        font-size: 25px;
    }
    .modal__header-top-close {
        font-size: 15px;
        margin-left: 20px;
    }
    .modal__header-top-right {
        align-items: center;
        gap: 0px;
    }
}
@media (max-width: 1200px) {
    .modal__header-top-close {
        font-size: 18px;
        margin-left: 10px;
        margin-right: 20px;
    }
}
@media (max-width: 1000px) {
    .modal__header-top-text {
        font-size: 20px;
    }
    .modal__header-top-text-column {
        font-size: 20px;
    }
    .modal__header-top-hide-text {
        font-size: 11px;
    }
    .modal__header-top-close {
        font-size: 20px;
        margin-left: 10px;
    }
    .modal__middle-input {
        width: 280px;
        border: none;
    }
    .modal__middle-input-error {
        border: 2px solid red;
        width: 280px;
    }
    .modal__bottom-button {
        width: 280px;
        margin-top: 20px;
        margin-left: 0;
    }
    .modal__bottom-text {
        width: 200px;
        min-width: 254px;
    }

}
@media (max-width: 768px) {
    .modal__header-top-text,
    .modal__header-top-text-column {
        padding-top: 0vw;
        padding-bottom: 0.30vw;
        margin-top: 4vw;
        font-size: 20px;
        color: #743335;
    }
    .modal__header-top-text-column {
        font-size: 18px;
        padding-left: 0px;
    }

    .modal__header-top-close {
        margin-top: 4vw;
        margin-left: 1.60vw;
        font-size: 20px;
    }

    .modal__middle-input {
        width: 300px;
        border: none;
    }
    .modal__middle-input-error {
        border: 2px solid red;
        width: 300px;
    }

    .modal__bottom-text {
        width: 100px;
        min-width: 254px;
    }
    .modal__bottom-text-wrap-phone {
        display: block;
    }

    .modal__bottom-text-wrap-pc {
        display: none;
    }

    .modal__bottom-button {
        width: 290px;
        margin-top: 20px;
        margin-left: 0;
    }

    .modal__header-top-hide-text {
        font-family: 'Manrope', sans-serif;
        font-size: 16px;
        color: #505050;
        padding: 0;
    }

    .modal__header-top-hide-br {
        display: none;
    }

    .modal__header-top-non-hide-br {
        display: block;
    }
}