

.questions {
    padding-bottom: 90px;
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.question__header-text {
    text-align: center;
    font-size: 1.30vw;
    color: #743335;
    font-family: 'Vetrino', sans-serif;
    margin-top: -1.04vw;
}
.questions__middle {
    display: flex;
    flex-direction: row;
}
@media (max-width:768px) {
    .question__header-text {
        width: 328px;
        font-size: 18px;
        margin-top: 0px;
    }
}