@font-face {
    font-family: 'Vetrino';
    src: url(../../../assets/fonts/Vetrino/ofont.ru_Vetrino.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mulish';
    src: url(../../../assets/fonts/Mulish/Mulish-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.programm__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #EBE9E3;
}
.programm__middle {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    margin-left: 12%;
    gap: 2%;
    margin-bottom: 6%;
    

}
.programm__middle-card-days {
    display: flex;
    flex-direction: column;
}
.programm__middle-card-text{
    font-size: 2.08vw;
    color: #BE9658;
    font-family: 'Vetrino', sans-serif;
    text-align: center;
    margin-top: 20px;
}
.programm__middle-card{
    width: 24.01vw;
    height: 33.39vw;
}
@media (max-width: 768px) {
    .programm__middle {
        flex-direction: column;
        margin-left: 2%;
        gap: 2%;
        margin-bottom: 6%;
        justify-content: center;
        align-items: center;
    }
    .programm__middle-card{
        width: 328px;
        height: 456px;
        /* margin-left: 50px; */
    }
    .programm__middle-card-days {
        margin-top: 40px;
    }
    .programm__middle-card-text{
        /* margin-top: 20px; */
        font-size: 40px;
        text-align:initial;
        margin-left: 25%;
        margin-bottom: 10px;
    }
    .programm__header-top-img {
        margin-top: 14%;
        width: 40px;
        height: 40px;
    }
    .programm__header-top-text {
        margin-top: 60px;
        padding: 0 40px;
        text-align: center;
        font-family: 'Vetrino', sans-serif;
        color: #743335;
        font-size: 25px;
        font-weight: 100;
    }
}