.marathon__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: white;
    padding-bottom: 100px;
}

.marathon__middle {
    display: flex;
    justify-content: center;
}

.marathon__middle-left,
.marathon__middle-right {
    display: flex;
    flex-direction: column;
}

.marathon__middle-left {
    align-items: center;
    padding-right: 1%;
    margin-top: 20px;
}

.marathon__left-img {
    margin-top: 3%;
    width: 10.42vw;
    height: 10.42vw;
}

.marathon__left-article {
    align-self: flex-start;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.marathon__left-star-img {
    width: 36px;
    height: 36px;
}

.marathon__left-text {
    margin-left: 20px;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
}

.marathon__middle-right {
    align-items: center;
    justify-content: center;
}

.marathon__middle-right-phone,
.marathon__middle-right-img-phone {
    display: none;
}

.marathon__middle-right-img {
    width: 36.72vw;
    height: 35.21vw;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .marathon__header-top-text {
        font-size: 30px;
        padding: 0 20px;
    }

    .marathon__middle-left {
        margin-left: 0;
    }

    .marathon__middle-right-img {
        width: 100%; 
        height: auto;
        margin-left: 0;
    }

    .marathon__left-article {
        margin-left: 15px;
    }

    .marathon__header-top-img {
        margin: 140px 20px 0;
        width: 40px;
        height: 40px;
    }

    .marathon__left-img {
        width: 142px;
        height: 142px;
        margin-bottom: 20px;
    }

    .marathon__middle-right-img {
        display: none;
    }

    .marathon__middle-right-phone {
        display: block;
    }

    .marathon__middle-right-img-phone {
        display: block;
        margin: 40px 0;
        width: 328px;
        height: 315px;
    }
}