@font-face {
    font-family: 'Mulish';
    src: url(../../../assets/fonts/Mulish/Mulish-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    width: auto;
    height: 95px;
    background-color: rgba(255, 255, 255, 1);
    position: relative; 
}

.header__button {
    margin-left: auto;
    width: 270px;
    height: 4.42vw;
    background-color: #743335;
    border: none;
    border-radius: 50px;
    margin-right: 8.40vw;
    min-height: 50px;
    max-height: 65px;
    transition: all 0.2s ease;
}
.header__button:hover {
    background-color: #BE9658;
}

.header__button-text {
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    line-height: auto;
    font-weight: 100;
}

.header__burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__burger-line {
    border-radius: 10px;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: all 0.3s ease;
}

.header__burger-line--active:nth-child(1) {
    border-radius: 50px;
    transform: translateY(10px) rotate(50deg);
}

.header__burger-line--active:nth-child(2) {
    opacity: 0;
}

.header__burger-line--active:nth-child(3) {
    border-radius: 50px;
    transform: translateY(-11px) rotate(-52deg);
}

@media (max-width: 768px) {

    .header__burger {
        background-color: #BE9658;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        display: flex; 
        margin-left: 50px;
        margin-right: 6.80vw;
    }
    ul {
        text-align: center;
    }

    .list__active li {
        width: 100%;
        padding: 20px;
        border-bottom: 2px solid #BE9658;
    }
}

@media (max-width: 1024px) {
    .header {
        height: 80px;
    }
}