.feedback {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #EBE9E3;
}
.feedback__middle {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.feedback__middle-slider {
    display: flex;
    flex-direction: row;
    width: 80.70vw;
    height: auto;
    overflow: hidden; 
    gap: 20px;
}
.feedback__middle-arrow {
    display: flex;
    flex-direction: column;
}
.feedback__middle-arrow-left,
.feedback__middle-arrow-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60px;
    height: 60px;
    color: #BE9658;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
}
.feedback__middle-arrow-content,
.feedback__middle-arrow-content-right {
    margin-left: 35%;
    width: 20px;
    margin-top: 35%;
}
.feedback__middle-arrow-content-right {
    transform: rotate(180deg);
}
.feedback__middle-slider-block {
    width: 26.04vw;
    height: 392px;
    background-color: #fff;
    border-radius: 20px;
    flex-shrink: 0;
}
.feedback__slider-block-text {
    display: flex;
    flex-direction: column;
}
.feedback__slider-block-name {
    font-weight: 100;
    padding: 40px 0px 10px 30px;
    font-size: 30px;
    color: #743335;
    font-family: 'Vetrino', sans-serif;
}
.feedback__slider-block-endtime {
    padding: 0 0 30px 30px;
    font-size: 14px;
    color: #505050;
    font-family: 'Mulish', sans-serif;
}
.feedback__slider-block-contents {
    padding: 0 0 20px 30px;
    font-size: 0.94vw;
    color: #000000;
    font-family: 'Mulish', sans-serif;
}
.feedback__bottom-mini-slider {
    padding-top: 20px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.feedback__bottom-mini-circle {
    transition: all 0.3s ease;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
}
.feedback__bottom-mini-circle-active {
    width: 45px;
    height: 10px;
    background-color: #BE9658;
    border-radius: 10px;
}
@media (max-width: 1200px) {
    .feedback__middle-slider-block {
        width: 230px;
        height: auto;
    }
    .feedback__middle-slider {
        justify-content: center;
        gap: 5px;
        width: 1050px;
    }
    .feedback__middle-arrow-left,
    .feedback__middle-arrow-right {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 30px;
        height: 30px;
        color: #BE9658;
        background-color: #fff;
        border-radius: 100%;
        cursor: pointer;
    }
    .feedback__middle-arrow-content,
    .feedback__middle-arrow-content-right {
        margin-left: 30%;
        width: 15px;
        margin-top: 35%;
    }
    .feedback__middle-arrow-content-right {
        transform: rotate(180deg);
    }
}
@media (max-width: 1300px) {
    .feedback__middle-slider-block {
        width: 300px;
        height: auto;
    }
    .feedback__middle-slider {
        justify-content: center;
        gap: 5px;
        width: 1050px;
    }
}
@media (max-width: 1000px) {
    .feedback__middle-slider-block {
        width: 200px;
        height: auto;
    }
    .feedback__middle-slider {
        justify-content: center;
        gap: 5px;
        width: 1050px;
    }
}
@media (max-width: 768px) {
    .feedback__middle-slider {
        justify-content: center;
        gap: 5px;
        width: 320px;
        overflow: visible;
    }
    .feedback__middle-slider-block {
        width: 316px;
        height: auto;
    }
    .feedback__slider-block-name {
        padding: 20px 0px 5px 30px;
        font-size: 20px;
    }
    .feedback__slider-block-endtime {
        padding: 0 0 5px 30px;
    }
    .feedback__slider-block-contents {
        padding: 0 0 10px 30px;
        font-size: 16px;
    }
    .feedback__middle-arrow {
        display: none;
    }
}