.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.modal__overlay-content {
    background: #EBE9E3;
    border-radius: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 59.38vw;
    height: 509px;
}

.modal__header {
    display: flex;
    flex-direction: row;
}

.modal__header-left,
.modal__header-left-background,
.modal__header-left-cards {
    position: relative;
    overflow: hidden;
    width: 570px;
    height: 509px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.modal__header-left-background {
    width: 570px;
    height: 509px;
}

.modal__header-left-cards {
    position: absolute;
    right: -50px;
    top: 80px;
    width: 674px;
    height: 316px;
}

.modal__bottom-info,
.modal__bottom-info-phone {
    position: absolute;
    left: 15%;
    top: 75%;
    width: 392px;
    height: 89px;
    background-color: #fff;
    border: 2px solid #BE9658;
    border-radius: 20px;
    display: flex;
}

.modal__bottom-info-text,
.modal__bottom-info-text-phone {
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    margin: 15px;
    font-family: 'Mulish', sans-serif;
}

.modal__bottom-info-text {
    font-size: 18px;
}

.modal__bottom-info-text-phone {
    font-size: 16px;
}

.modal__bottom-text-wrap-phone,
.modal__header-left-phone,
.modal__header-left-background-phone,
.modal__header-left-cards-phone,
.modal__bottom-info-phone {
    display: none;
}
@media (max-width: 1500px) {
    .modal__header-left,
    .modal__header-left-background,
    .modal__header-left-cards {
        position: relative;
        overflow: hidden;
        width: 500px;
        height: 509px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    
    .modal__header-left-background {
        width: 500px;
        height: 509px;
    }
    
    .modal__header-left-cards {
        position: absolute;
        left: -90px;
        top: 80px;
        width: 600px;
        height: 316px;
    }
    
    .modal__bottom-info,
    .modal__bottom-info-phone {
        position: absolute;
        left: 15%;
        top: 75%;
        width: 21.63vw;
        height: 89px;
        background-color: #fff;
        border: 2px solid #BE9658;
        border-radius: 20px;
        display: flex;
    }
    
    .modal__bottom-info-text,
    .modal__bottom-info-text-phone {
        width: 100%;
        height: 100%;
        text-align: center;
        justify-content: center;
        margin: 15px;
        font-family: 'Mulish', sans-serif;
    }
    
    .modal__bottom-info-text {
        font-size: 14px;
    }
    
    .modal__bottom-info-text-phone {
        font-size: 16px;
    }
}
@media (max-width: 1300px) {
    .modal__header-left,
    .modal__header-left-background,
    .modal__header-left-cards {
        position: relative;
        overflow: hidden;
        width: 500px;
        height: 509px;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    
    .modal__header-left-background {
        width: 500px;
        height: 509px;
    }
    
    .modal__header-left-cards {
        position: absolute;
        left: -50px;
        top: 80px;
        width: 400px;
        height: 256px;
    }
    
    .modal__bottom-info,
    .modal__bottom-info-phone {
        position: absolute;
        left: 15%;
        top: 75%;
        width: 17.63vw;
        height: 89px;
        background-color: #fff;
        border: 2px solid #BE9658;
        border-radius: 20px;
        display: flex;
    }
    .modal__bottom-info-text {
        font-size: 12px;
    }
}
@media (max-width: 900px) {
    .modal__header-left-cards {
        position: absolute;
        left: -0px;
        top: 160px;
        width: 200px;
        height: 176px;
    }
    .modal__bottom-info-text {
        font-size: 10px;
    }
}
@media (max-width: 768px),(max-width: 1000px) {
    .modal__overlay-content {
        width: 328px;
        height: 685px;
    }

    .modal__bottom-phone {
        display: flex;
        flex-direction: row;
    }

    .modal__header-left,
    .modal__header-left-background,
    .modal__header-left-cards,
    .modal__bottom-info,
    .modal__bottom-info-text {
        display: none;
    }

    .modal__header-left-phone {
        margin-top: 20px;
        display: block;
        position: relative;
        overflow: hidden;
        width: 328px;
        height: 316px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    .modal__header-left-background-phone {
        display: block;
        width: 328px;
        height: 366px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    .modal__header-left-cards-phone {
        display: block;
        position: absolute;
        left: -60px;
        top: 10px;
        width: 430px;
        height: 201px;
    }

    .modal__bottom-info-phone {
        display: block;
        position: absolute;
        left: 4%;
        top: 65%;
        width: 304px;
        height: 88px;
        background-color: #fff;
        border: 2px solid #BE9658;
        border-radius: 20px;
        display: flex;
    }

    .modal__bottom-info-text-phone {
        display: block;
        width: 300px;
        height: 100%;
        text-align: center;
        justify-content: center;
        margin: 10px;
        font-family: 'Mulish', sans-serif;
    }

    .modal__overlay {
        top: -80px;
        background-color: rgba(0, 0, 0, 0.6);
    }
}