.question__block {
    margin-top: 40px;
    width: 89.58vw;
    height: 638px;
    background-color: #EBE9E3;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    transition: all 0.2s ease;
}

.question__block-left {
    width: 26.04vw;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2.08vw;
    /* gap: 10px; */
}

.question__block-left-list,
.question__block-left-flex {
    display: flex;
    flex-direction: column;
}
.question__block-left-flex {
    flex-direction: row;
}

.question__block-left-title,
.question__block-left-choose,
.question__block-left-question,
.question__block-left-number {
    font-family: 'Mulish', sans-serif;
    color: #505050;
}

.question__block-left-title {
    width: 478px;
    padding: 0 0 20px 0;
    font-size: 30px;
    color: #743335;
}

.question__block-left-choose {
    padding: 0 0 10px 0;
    font-size: 18px;
}

.question__block-left-question {
    text-wrap: nowrap;
    font-size: 18px;
    color: black;
}

.question__block-left-flex {
    padding: 10px 0 2px 0;
    gap: 20px;
}

.question__block-left-number {
    font-size: 18px;
    padding: 0 0 20px 0;
}

.question__block-left-checkbox {
    display: none;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border: 1px solid #743335;
    border-radius: 50%; 
    position: relative;
    margin-right: 8px;
    box-sizing: border-box;
}

.checkmark:hover {
    border: 2px solid #743335;
}

.question__block-left-checkbox:checked + .checkmark::after {
    transition: all 0.2s ease;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #743335;
    box-sizing: border-box;
}

.question__block-left-button {
    margin-top: 40px;
    display: flex;
    width: 198px;
    height: 61px;
    border: 2px solid #BE9658;
    background-color: #EBE9E3;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.question__block-left-button:hover {
    background-color: #fff;
}

.question__button-content {
    display: flex;
    flex-direction: row;
}

.question__button-text {
    padding: 0 0 0 10px;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    color: black;
}

.question__button-img {
    margin-top: 2px;
    width: 20px;
    height: 20px;
}

.question__right {
    z-index: 1;
    width: 150%;
    height: 100%;
    background-image: url(../../../assets/img/облака1.svg);
    background-repeat: no-repeat;
    background-position: -5.21vw -35px;
    overflow: hidden;
}

.question__right-cards,
.question__right-people,
.question__right-lovers,
.question__right-sun {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

.question__right-cards {
    margin-left: 35%;
    margin-top: 15%;
    background-image: url(../../../assets/img/Cards.svg);
}

.question__right-people {
    background-image: url(../../../assets/img/People.svg);
    background-position: 26.04vw 26vh;
    background-size: 70% 70%;
}

.question__right-lovers {
    background-image: url(../../../assets/img/Lovers.svg);
    background-position: 15.67vw 14.06vw;
    background-size: 11.46vw 16.67vw;
}

.question__right-sun {
    background-image: url(../../../assets/img/Sun.svg);
    background-position: 23.96vw 13.54vw;
    background-size: 13.02vw 18.23vw;
}

@media (max-width: 768px) {
    .question__block {
        background-image: url(../../../assets/img/облака1.svg);
        background-repeat: no-repeat;
        background-size: 200% 100%;
        background-position: -30% 0%;
        margin-top: 20px;
        width: 328px;
        height: 505px;

    }

    .question__block-left {
        width: 288px;
        padding-left: 10px;
    }

    .question__block-left-title {
        width: 288px;
        padding: 0 0 5px 0;
        font-size: 18px;
    }

    .question__block-left-choose {
        padding: 0;
        font-size: 16px;
        font-family: 'Manrope', sans-serif;
    }

    .question__block-left-question {
        text-wrap: wrap;
        width: 256px;
        font-size: 16px;
    }

    .question__block-left-flex {
        padding: 5px 0 2px 0;
        gap: 10px;
    }

    .question__block-left-number {
        font-size: 16px;
        padding: 0;
        font-family: 'Manrope', sans-serif;
    }

    .question__block-left-button {
        min-height: 61px;
        margin-top: 20px;
    }
    .question__button-text {
        padding: 0 0 0 5px;
        font-size: 16px;
    }

    .question__right,
    .question__right-cards {
        display: none;
    }
}